<form [formGroup]="formGroup" (submit)="formSubmit()">
    <h4>It's a reactive login form</h4>
    <label *ngIf="showErrorLable"></label>
    <input formControlName="name" placeholder="Enter your name">
    
    <input formControlName="password" placeholder="Enter your password">
    <div formGroupName="address">
        <h5>Your address</h5>
        <input formControlName="address" placeholder="Enter Your address">
        <input formControlName="state" placeholder="Enter Your state">
        <input formControlName="country" placeholder="Enter Your country">
    </div>
    <h5>Add Some hobbies</h5>
    <ng-container formArrayName="hobbies" *ngFor="let item of arrayOfForm.controls ;let i=index">
        <input [formControlName]="i">
    </ng-container>
    <button (click)="adHobbies()">Add</button>
    <div>
        <h5>To know more about you</h5>
        <label>Are you a programmer?</label>
        <div class="techGuysForm">
            <label for="techguy">Yes</label>
            <input formControlName="coder" id="techguy" type="radio" name="coder" value="yes">
            <label for="nonTech">NO</label>
            <input formControlName="coder" id="nonTech" type="radio" value="no" name="coder">
        </div>
    </div> 
    
    <input *ngIf="showTheDomain" placeholder="Choose your domasin" list="domains">
    <datalist id="domains">
       <option value="webdev">Web Dev</option>
    </datalist>
    <button>Submit</button>
</form>
<p>
    This is a formControl and here we have methods like patch vlaues set values
</p>
