<form [formGroup]="formGroup" (submit)="formSubmit()" class="formClass">
    <h4>It's a reactive login form</h4>
    <label *ngIf="showErrorLable"></label>
    <input formControlName="name" placeholder="Enter your name">
    
    <input formControlName="password" class="k" placeholder="Enter your password">
    <span *ngIf="showPassError">Required length{{error}}</span>
    <!-- <div formGroupName="address">
        <h5>Your address</h5>
        <input formControlName="address" placeholder="Enter Your address">
        <input formControlName="state" placeholder="Enter Your state">
        <input formControlName="country" placeholder="Enter Your country">
    </div>
    <h5>Add Some hobbies</h5>
    <ng-container formArrayName="hobbies" *ngFor="let item of arrayOfForm.controls ;let i=index">
        <input placeholder="Enter your hobbies" [formControlName]="i">
    </ng-container>
    <button (click)="adHobbies()">Add</button>
    <div>
        <h5>To know more about you</h5>
        <label>Are you a programmer?</label>
        <div class="techGuysForm">
            <label for="techguy">Yes</label>
            <input formControlName="coder" id="techguy" type="radio" name="coder" value="yes" (change)="heIsaCoder()">
            <label for="nonTech">NO</label>
            <input formControlName="coder" id="nonTech" type="radio" value="no" name="coder">
        </div>
    </div> 

    <input *ngIf="showTheDomain" formControlName="domain" placeholder="Choose your domasin" list="domains">
    <datalist id="domains">
       <option value="webdev">Web Dev</option>
    </datalist>
    <select *ngIf="!showTheDomain" formControlName="domain" >
     <option value="">Do nothing</option>
     <option value="consultant">Consultant</option>
    </select> -->
    <button>Submit</button>
</form>
<p>
    This is a formControl and here we have methods like patch vlaues set values one more important thing is that we have css classes and that css classes are applied to each and every
    so to access those we need put class on the form then class name of the formcontrol other wise we will get the form control to evry form and also to the child element also know as form controls.
    we can use method like not(form) so now only the form will not have the properties  we can also use .*ngIF=gorm.hasErrors('pass in the error name')
</p>
